body  * {
    box-sizing: border-box;
}

button {
    padding: 0;
    border: none;
    background: transparent;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}

.text-font {
    font-family: 'Lato';
    font-style: normal;
}

/* HEADER */
header {
    width: 100%;
    height: 665px;
}

.header-info-wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px 0 0 160px;
    max-width: 544px;
}

.header-img {
    width: 90px;
}

.header-title {
    margin-top: 132px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
}

.header-background {
    background: no-repeat url('assets/header-backgroubd.png');
    background-position: right;
}

.header-secondary-text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    max-width: 460px;
}

.header-link-container {
    display: flex;
    margin-top: 50px;
}

.app-store-button {
    margin-right: 46px;
}

/* HEADER end */

/* BODY BLOCK 1 */

.body-block-1 {
    display: flex;
    height: 590px;
}

.body-1-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url('assets/ronaldo.png');
}

.score-sample-img {
    transform: translate(-16%, 20%);
    z-index: 2;
}

.video-img {
    transform: translate(16%, -20%);
}

.body-1-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 30px;
    height: 100%;
}

.body-1-title-blue {
    color: #00ADEE;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.body-1-title {
    margin: 28px 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
}

.body-1-info {
    font-weight: 400;
    font-size: 16px;
    max-width: 402px;
    line-height: 23px;
}

.body-1-learn-more {
    margin-top: 22px;
    font-weight: 700;
    font-size: 16px;
    color: #00ADEE;
    line-height: 21px;
}
/* BODY BLOCK 1 end*/

/* BODY BLOCK 2 */

.body-block-2 {
    display: flex;
    height: 716px;
}

.body-2-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 0 135px;
    height: 100%;
}

.body-2-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.phone-img {
    transform: translate(-150%, 0%);
}

.phone-screen-img {
    transform: translate(-355%, -5%);
}

.ellipse-in-img {
    transform: translate(116%, -5%);
}

.ellipse-on-img {
    transform: translate(-5%, -4%);
}

.notification-icon-img {
    transform: translate(-892%, -154%);
}


@media screen and (max-width: 720px) {
    .header-background {
        background: none;
        background-color: #F4F6F9;
    }

    .header-info-wrapper {
        align-items: center;
        max-width: 100%;
        padding: 34px 20px 60px;
    }

    .header-title, .header-secondary-text {
        width: 100%;
        text-align: center;
    }

    .header-link-container {
        width: 100%;
        justify-content: space-around;
    }

    .app-store-button {
        margin: 0;
    }




    .body-block-1 {
        flex-direction: column-reverse;
        height: initial;
    }

    .body-1-content-container, .body-1-info-container {
        width: initial;
    }

    .body-1-info-container * {
        text-align: center;
    }

    .body-1-info-container {
        padding: 54px 10px; 
    }

    .body-1-info {
        max-width: initial;
    }




    .body-block-2 {
        flex-direction: column;
        height: initial;
    }

    .body-2-content-container, .body-2-info-container {
        width: initial;
    }

    .body-2-info-container * {
        text-align: center;
    }

    .body-2-info-container {
        padding: 54px 10px; 
    }

    .body-2-content-container {
        width: 100%;
        transform: translate(50%, 6%);
    }
}


@media screen and (max-width: 1000px) {
    
.score-sample-img {
    width: 349px;
}

.video-img {
    width: 260px;
}
}