body  * {
    box-sizing: border-box;
}

button {
    padding: 0;
    border: none;
    background: transparent;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}

.text-font {
    font-family: 'Lato';
    font-style: normal;
}

/* HEADER */
header {
    width: 100%;
    height: 665px;
}

.header-info-wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px 0 0 160px;
    max-width: 544px;
}

.header-img {
    width: 90px;
}

.header-title {
    margin-top: 132px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
}

.header-background {
    background: no-repeat url('assets/header-backgroubd.png');
    background-position: right;
}

.header-secondary-text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    max-width: 460px;
}

.header-link-container {
    display: flex;
    margin-top: 50px;
}

.app-store-button {
    margin-right: 46px;
}

/* HEADER end */

/* BODY BLOCK 1 */

.body-block-1 {
    display: flex;
    height: 590px;
}

.body-1-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url('assets/ronaldo.png');
}

.score-sample-img {
    transform: translate(-16%, 20%);
    z-index: 2;
}

.video-img {
    transform: translate(16%, -20%);
}

.body-1-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 30px;
    height: 100%;
}

.body-1-title-blue {
    color: #00ADEE;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.body-1-title {
    margin: 28px 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
}

.body-1-info {
    font-weight: 400;
    font-size: 16px;
    max-width: 402px;
    line-height: 23px;
}

.body-1-learn-more {
    margin-top: 22px;
    font-weight: 700;
    font-size: 16px;
    color: #00ADEE;
    line-height: 21px;
}

/* BODY BLOCK 1 end*/

/* BODY BLOCK 2 */

.body-block-2 {
    display: flex;
    height: 716px;
    background-image: url(./assets/elips.png);
    background-position: right;
    background-repeat: no-repeat;
}

.body-2-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 0 135px;
    height: 100%;
}

.body-2-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.phone-img {
    transform: translate(48%, 0%);
}

.phone-screen-img {
    transform: translate(-44%, -5%);
}

.phone-exit {
    transform: translate(-224%, 96%);
}

.notification-icon-img {
    transform: translate(-324%, -154%);
}

/* BODY BLOCK 2 end*/

/* BODY BLOCK 3 */

.body-block-3 {
    max-width: 1440px;

    background: url(./assets/background-block-3.png);
    padding: 60px 165px;
}

.body-block-3 h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
    text-align: center;
}

.body-3-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 40px;
    column-gap: 130px;
    margin-top: 50px;
}

.icon path {
    fill: #FFFFFF;
}

.features ul {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 10px;
    list-style-type: disc;
    list-style-position: inside;
}

/* BODY BLOCK 3 end*/

/* BODY BLOCK 4 */


.body-block-4 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.body-block-4 h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
    margin: 65px 0px;
}

.body-4-container {
    display: flex;
    overflow: hidden;
}

.slider-4-container {
    margin: 0px 15px;
    border: 1px solid #828282;
    border-radius: 4px;
    padding: 10px;
    width: 21em;
    height: 11.6em;
    position: relative;
    z-index: 1;
}

.avatar-img {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
}


.slider-4-container h3 {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    padding-left: 5px;
}

.slider-4-container p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
}

.pagination {
    text-align: center;
    transform: translate(0%, -420%);
}

.slider-4-container:first-child:before {
    content: '';
    left: 0;
    right: 0;
    top: .1%;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, rgb(255, 255, 255) 40%, rgba(255,255,255,0) 100%);
    z-index: 2;
}

.slider-4-container>p:first-child {
    text-align: center;
    padding-top: 15%;
}

.slider-4-container:last-child:before {
    content: '';
    left: 0;
    right: 0;
    top: .1%;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%);
    z-index: 2;
}

.btn-slider-left {
    transform: translate(-846%, -156%);
    z-index: 2;    
}

.btn-slider-right {
    transform: translate(846%, -274%);
    z-index: 2;
}

/* BODY BLOCK 4 end*/

/* BODY BLOCK 5 */

.body-block-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
}

.body-block-5 h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    padding: 50px 0px;
}

.body-5-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 4em;
    margin-bottom: 50px;
}

/* BODY BLOCK 5 end*/

/* BODY BLOCK 6 */

.body-block-6 {
    width: 100%;
    height: 30em;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b6-left {
    width: 50%;
    height: 100%;
    background-image: url('./assets/b6-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

.b6-right {
    padding: 0px 115px;
    width: 50%;
}

.b6-right h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    margin-bottom: 35px;
}

.b6-right p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #4F4F4F;
}

.b6-btn {
    width: 350px;
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
}


/* BODY BLOCK 6 end*/

/* FOOTER*/

footer {
    background: #00ADEE;
    padding: 50px 160px;
}

footer .flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

footer .logo>* {
    vertical-align: middle;
}

footer .menu li {
    margin-left: 35px;
}

footer .menu li:first-child {
    margin-left: 0;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline-block;
}

.sm-flex-item {
    text-align: right;
}



@media screen and (max-width: 720px) {
    .header-background {
        background: none;
        background-color: #F4F6F9;
    }

    .header-img {
        margin-top: 22px;
    }

    .header-info-wrapper {
        align-items: center;
        max-width: 100%;
        padding: 34px 20px 60px;
    }

    .header-title, .header-secondary-text {
        width: 100%;
        text-align: center;
        max-width: 344px;
    }

    .header-link-container {
        width: 100%;
        justify-content: space-around;
    }

    .app-store-button {
        margin: 0;
    }




    .body-block-1 {
        flex-direction: column-reverse;
        height: initial;
    }

    .body-1-content-container, .body-1-info-container {
        width: initial;
    }

    .body-1-info-container * {
        text-align: center;
    }

    .body-1-info-container {
        padding: 54px 208px; 
        padding: 0 16px;
        margin: 40px 0;
    }

    .body-1-info {
        max-width: initial;
    }




    .body-block-2 {
        flex-direction: column;
        height: initial;
        background: none;
    }

    .body-2-content-container, .body-2-info-container {
        width: initial;
    }

    .body-2-info-container * {
        text-align: center;
    }

    .body-2-info-container {
        padding: 54px 202px;
        padding: 0 16px;
        margin: 40px 0;
    }

    .body-2-content-container {
        max-width: 94%;
        transform: translate(6%, 0%);
    }

    .phone-img {
        transform: translate(54%, 0%);
      }

    .phone-screen-img {
        transform: translate(-34%, -5%);
      }

    .notification-icon-img {
        transform: translate(-306%, -154%);
      }
    
    .phone-exit {
        transform: translate(-204%, 96%);
      } 

      


    .body-block-3 {
        background: #FAFAFA;
        padding: 0 16px;
    }

    .body-block-3 h3 {
        color: #333333;
    }

    .body-3-container {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
    }

    .icon path {
        fill: #00ADEE;
    }

    .features ul {
        list-style: none;
        color: #4F4F4F;
    }

    .features {
        text-align: center;
    }

    .icon {
        display: block;
        margin: auto;
        text-align: center;
    }




    .slider-4-container {
        display: none;
    }

    .slider-4-container:nth-of-type(3) {
        display: initial;
    }

    .btn-slider-right {
        transform: translate(238%, -274%);
        z-index: 2;
    }



    .body-5-container {
        grid-template-columns: repeat(3,100px);
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap: 1em;
    }

    .sponsors-1 {
        grid-area: 1/1/2/3;
    }

    .sponsors-6 {
        grid-area: 3/1/4/4;
    }




    .body-block-6 {
        display: flex;
        flex-direction: column-reverse;
        height: 56em;
    }

    .b6-right {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: initial;
        padding-top: 20px;
    }

    .b6-right h2, p {
        width: 50%;
        text-align: center;
    }

    .b6-left {
        width: 100%;
        margin-top: 48px;
    }





    footer {
        padding: 20px 10px;
    }

    footer .flex-wrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    footer .flex-wrapper>div {
        margin-top: 10px;
    }

    footer .menu {
        order: 2;
}

    .footer li {
        font-size: 14px;
    }

}

@media screen and (max-width: 1000px) {
    
.score-sample-img {
    width: 349px;
}

.video-img {
    width: 260px;
}

}